---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
import Services from "../components/Services.astro"
import Who from "../components/Who.astro"
import Zones from "../components/Zones.astro"
import FAQ from "../components/FAQ.astro"
import Contact from "../components/Contact.astro"
import Call from "../components/Call.astro"
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Who />
    <Zones />
    <FAQ />
    <Contact />
    <Call />
  </main>
</Layout>
