---
import { Phone } from "@lucide/astro";
---

<div class="fixed bottom-4 right-4">
  <button
    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full shadow-lg"
    ><a href="https://wa.me/+5491176213800" target="_blank"><Phone /></a>
  </button>
</div>
