---
import { Cctv } from "@lucide/astro";
import { Code } from "@lucide/astro";
---

<footer
  class="footer sm:footer-horizontal bg-primary text-neutral-content items-center p-4"
>
  <aside class="grid-flow-col items-center">
    <p>
      Hexatec © {new Date().getFullYear()} - Todos los derechos reservados
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://linktr.ee/Hexatec" target="_blank">
      <Cctv />
    </a>
    <a href="https://github.com/LeivurGargiulo" target="_blank">
      <Code />
    </a>
  </nav>
</footer>
