<header
  class="navbar w-300 mx-auto fixed top-0 left-0 right-0 mt-3 z-50 shadow-sm rounded-xl bg-base-100"
  data-aos="fade_down"
>
  <div class="flex-1">
    <a class="p-3 text-primary text-3xl">Hexatec</a>
  </div>
  <nav class="flex">
    <ul class="px-1 gap-10">
      <li class="btn btn-ghost"><a href="#sobre">Servicios</a></li>
      <li class="btn btn-ghost">
        <a href="#quienes-somos">Quienes Somos</a>
      </li>
      <li class="btn btn-ghost"><a href="#zonas">Cobertura</a></li>
      <li class="btn btn-ghost"><a href="#faq">FAQ</a></li>
      <li class="btn btn-primary"><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
