---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es" data-theme="corporate" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hexatec</title>
    <meta
      name="description"
      content="Hexatec ofrece soluciones tecnológicas de vanguardia para impulsar su negocio. Explore nuestros servicios y funciones principales."
    />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Hexatec" />
    <meta
      property="og:description"
      content="Soluciones tecnológicas de vanguardia para su negocio."
    />
  </head>

  <body class="font-sansation">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
