---
import "../styles/global.css";
---
<!doctype html>
<html lang="es" data-theme="corporate">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Hexatec</title>
	</head>
	<body class="font-sansation">
		<slot />
	</body>
</html>
